img[src=""] {
    display: none;
}

.image-container {
  position: relative;
  display: inline-block;
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 2px #149df2 inset;
    display: flex;
    justify-content: center;
    cursor: pointer;

  }